.main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;
  width: auto;
}

.searchd {
  display: flex;
  justify-content: center;
  width: auto;
  /* flex-direction: column; */
  align-content: flex-start;
}
.text {
  color: gray;
}
.box {
  display: flex;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 5%;
  box-shadow: 2px 2px 7px rgb(116, 116, 148);
  text-emphasis-color: gray;
  color: gray;
}

.list {
  margin-top: 35px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.listItem {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5%;
  box-shadow: 2px 2px 7px rgb(116, 116, 148);
  height: 275px;
  margin: 10px;
  width: 142px;
  margin-bottom: 15px;
  color: gray;
}

.listItem img {
  border: 1px solid gray;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  max-height: 185px;
  width: 140px;
}

.listItem .addMovie {
  display: none;
}

.listItem:hover .addMovie {
  display: flex;
}

.texth {
  width: 134px;
  padding-left: 5px;
  padding-top: 0px;
  font-size: 0.9em;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  word-wrap: normal;
  font-weight: 700;
  color: gray;
}

.textt {
  padding: 0px;
  padding-left: 3px;
  font-size: 0.75em;
  margin-top: 0px;
  margin-bottom: 0px;
  word-wrap: normal;
  font-weight: 100;
  color: gray;
}
/* .h2 {
  color: gray;
} */
